*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	overflow-x: hidden;
	font-family: "Ubuntu-Regular";
}

ul, ol{
	padding: 0;
}




/*=============================================
ARTICULOS          
=============================================*/

#articulos ul li{
	position:relative;
	padding:20px;
}

#articulos ul li button{
	margin-top:30px;
	}

/*=====  Fin de ARTICULOS  ======*/


/*=============================================
CONTÁCTENOS           
=============================================*/

footer#contactenos iframe{
	height:500px;
}

footer#contactenos h4{
	line-height:30px;
}

footer#contactenos ol{
	position: relative;
	list-style:none;
	margin:auto;
	width:215px;
	background: silver;
}
	
footer#contactenos ol li a{
	float:left;
	width:50px;
	height:50px;
	border-radius:100%;
	margin:20px 5px;
	text-align:center;
	line-height:52px;
	color:rgba(0,50,100,1);
	background:white;
}

footer#contactenos #formulario{
	background:rgba(0,50,100,1);
	padding:40px;
}

footer#contactenos #formulario form input{
	margin:20px auto;
}

/*=====  Fin de CONTÁCTENOS  ======*/

/*=============================================
ESCRITORIO GRANDE                    
=============================================*/

@media (min-width:1200px){

	/*Logotipo*/

	#logo img{
		padding:20px 30px;
	}

	/*Botonera*/

	nav#botonera{
		margin-top: 1.2%;
		width: 60%;
	}

	nav#botonera ul{
		width: 100%;

	}

	nav#botonera ul li{
		width: 18%;	
		text-align: center;
		background: #ddd;
		margin: 3% 1%;
	}

	nav#botonera ul li a{
		height: 45px;
		line-height: 12px;
		color: #8e8686;
		background: #deefdc;
		font-weight: 100;
	}

	/*Artículos*/

	#articulos ul li img{
		float:left;
		width:30%;
		margin:20px 20px 20px 0 ;
	}
		
}
	
/*=====  Fin de ESCRITORIO GRANDE  ======*/
	
/*=============================================
ESCRITORIO MEDIANO                   
=============================================*/
	
@media (max-width:1199px) and (min-width:992px){
	
	/*Logotipo*/

	#logo img{
		padding:20px 10px;
	}

	/*Botonera*/

	nav#botonera{
		margin-top: 3%;
		width: 60%;
	}
		
	nav#botonera ul{
		width: 100%;
	}
		
	nav#botonera ul li{
		width: 18%;
		text-align: center;
		background: #ddd;
		margin: 3% 1%;
	}

	nav#botonera ul li a{
		height: 35px;
		line-height: 5px;
		color: #111;
		background: #deefdc;
		font-weight: 100;
	}



	/*Artículos*/

	#articulos ul li img{
		float:left;
		width:35%;
		margin:30px 20px 20px 0 ;
	}

}
	
/*=====  Fin de ESCRITORIO PEQUEÑO  ======*/
	
/*=============================================
TABLET                 
=============================================*/
	
@media (max-width:991px) and (min-width:768px){
	 
	/*Logotipo*/

	#logo img{
		padding:20px 30%;
	}

	/*Botonera*/

	nav#botonera{
		margin: 2% 0;
		width: 100%;
	}
		
	nav#botonera ul{
		width: 100%;
	}
		
	nav#botonera ul li{
		width: 18%;
		text-align: center;
		background: #ddd;
		margin: 0 1%;
	}

	nav#botonera ul li a{
		height: 35px;
		line-height: 5px;
		color: #8e8686;
		background: #deefdc;
		font-weight: 100;
	}

	

	/*Artículos*/

	#articulos ul li img{
		float:left;
		width:40%;
		margin:25px 20px 20px 0 ;
	}
	
}
	
/*=====  Fin de TABLET  ======*/
	
/*=============================================
PHONES                
=============================================*/
	
@media (max-width:767px){

	/*Logotipo*/

	#logo{
		background: white;
	}

	#logo img{
		padding:20px 20%;
	}

	/*Botonera*/

	#botonera{
		overflow-x:hidden;
	}	

	#botonera ul li a{
		padding: 10px 30px;
		
	}

	/*Artículos*/

	#articulos ul li img{
		float:left;
		width:100%;
		margin:10px auto ;
	}

}

/*=====  Fin de PHONES  ======*/

/*=============================================
PLUGIN SCROLL UP               
=============================================*/

#scrollUp {
  	bottom: 20px;
  	right: 20px;
  	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url(../images/flecha.jpg);
}

/*=====  Fin de PLUGIN SCROLL UP  ======*/